<div class="row justify-content-center align-items-center">
  <div class="col-md-12">
    <div class="card border-bootstrap box-shadow mb-4">
      <div class="card-header text-bootstrap d-flex align-items-center justify-content-between">
        <div>
          Créer une TUP à partir de la date <%= date == 'publication' ? "de publication" : "d'effet légal" %> désirée<br/>
          <small class="text-muted">Renseigner la date et les sociétés participantes</small>
        </div>
      </div>
      <div class="card-body">
        <%= simple_form_for @tup, url: tups_path, 
          html: { id: "publication-datepicker" },
          remote: true,
          authenticity_token: true do |f| %>

            <%= f.error_notification %>

            <%= f.input date, as: :string, label: (date == 'publication') ? "Date de publication" : "Date d'effet légal", input_html: {class: "datepicker" } %>

            <%= f.association :companies, collection: @companies, label: 'Société Absorbante' %>

            <%= f.association :companies, collection: @companies, label: 'Société Absorbée' %>
            
            <%= f.button :submit, "Créer une TUP", class: "btn-primary" %>

        <% end %>
      </div>
    </div>
  </div>
</div>
