<div class="row justify-content-center align-items-center">
  <div class="col-md-12">
    <div class="card border-bootstrap box-shadow mb-4">
      <div class="card-header text-bootstrap d-flex align-items-center justify-content-between">
        <div>
          Créer une TUP à partir de la date <%= @date_input == 'publication' ? "de publication" : "d'effet légal" %> désirée<br/>
          <small class="text-muted">Renseigner la date et les sociétés participantes</small>
        </div>
      </div>
      <div class="card-body">
        <%= simple_form_for @tup, url: tups_path, 
          html: { id: "publication-datepicker" },
          remote: true,
          authenticity_token: true do |f| %>

            <%= f.input @date_input, as: :string, label: (@date_input == 'publication') ? "Date de publication" : "Date d'effet légal", input_html: {class: "datepicker", value: params.dig(:tup)&.dig(@date_input) || Date.today } %>

            <%= f.input :merging_company_id, collection: @companies, selected: @merging_company_id, label: 'Société Absorbante' %>

            <%= f.input :absorbed_company_id, collection: @companies, selected: @absorbed_company_id, label: 'Société Absorbée' %>

            <% if @tup.publications? %>

              <%= "Il y a #{@tup.publications.size} dates de publication possibles pour une date d'effet le #{to_little_endian(@tup.legal_effect)}" %> 

              <%= f.input :publication, as: :radio_buttons, collection: to_little_endian(@tup.publications), wrapper: :custom_collection_inline %>

            <% end %>
            
            <%= f.button :submit, "Créer une TUP", class: "btn-primary" %>

        <% end %>
      </div>
    </div>
  </div>
</div>
