<h1><%= @company.name %></h1>
<ul>
    <li>
      <b>Dénomination : </b><%=  @company.siren %>
    </li>

    <li>
      <b>Siège : </b><%=  @company.headquarters %>
    </li>

    <li>
      <b>Forme : </b><%=  @company.legal_form %>
    </li>
    
    <li>
      <b>Capital : </b><%=  @company.share_capital %> euros
    </li>
</ul>

<%= link_to 'Retour', companies_path %>
