<div class="container pt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="card border-bootstrap box-shadow mb-4">
        <div class="card-header text-bootstrap d-flex align-items-center justify-content-between">
          <h4>
            <%= @company.name %>
          </h4>
        </div>
        <div class="card-body">

          <div class="my-2">
            <b>Siren</b> : <%= @company.siren %>
          </div>

          <div class="my-2">
            <b>Siège social</b> : <%= @company.headquarters %>
          </div>

          <div class="my-2">
            <b>Forme</b> : <%= @company.legal_form %>
          </div>

          <div class="my-2">
            <b>Capital social</b> : <%= @company.share_capital %> €
          </div>

          <div class="my-2">
            <% if @company.absorbed || @company.merging %>
              <% @company.tups.each do |tup| %>
                <div>
                  <%= @company.tups.size %> opération de TUP est attachée à cette société :
                </div>
                <br/>
                <ul class="list-unstyled text-justify mb-0">
                  <li>
                    <%= "Société Absorbante : #{tup.companies.find_by(merging: true).name}" %>
                  </li>
                  <li>
                    <%= "Société Absorbée : #{tup.companies.find_by(absorbed: true).name}" %>
                  </li>
                  <li>
                    <%= "Date de publication : #{to_little_endian(tup.publication)}" %>
                  </li>
                  <li>
                    <%= "Début du délai d'opposition des créanciers : #{to_little_endian(tup.opposition_start)}" %>
                  </li>
                  <li>
                    <%= "Fin du délai d'opposition des créanciers : #{to_little_endian(tup.opposition_end)}" %>
                  </li>
                  <li>
                    <%= "Date d'effet de la TUP : #{to_little_endian(tup.legal_effect)}" %>
                  </li>
                  <li>
                    <%= link_to 'Supprimer la TUP', tup_path(tup), method: :delete %>
                  </li>
                </ul>
              <% end %>
            <% end %>
          </div>

          <%= link_to 'Retour', companies_path %>
        </div>
      </div>
    </div>
  </div>
</div>
